/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

/* Background colors and margins */

.container-all {
    margin: 0 auto;
    margin-top: 40px;
    width: 50%;
    background-color: white;
    border-radius: 20px;
}

header {
    background-color: white;
    padding: 20px;
    font-size: larger;
}

body {
    background-color: #F6F8F9;
}

hr {
    color: #fcfeff;
}
.container-1 {
    padding: 20px;
    margin-bottom: 1px;
}

.container-2 {
    padding: 20px;
    margin-top: 1px;
    margin-bottom: 20px;
}

.thirdblock,.secondblock,.firstblock {
    padding: 10px;
}

/* logo */
h1 {
    display: inline;
}

header img, h1 {
    vertical-align: middle;
}

strong {
    font-size: x-large;
    margin-bottom: 20px;
    }

/* edit interactive buttons */
#interactive-button1 {
    background-color: #47ADF1;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;   
}

#interactive-button2 {
    border: 1px solid grey;
    border-radius: 8px;
    color: #47ADF1;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;   
}

/* Checkmark boxes */
.check {
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}

.checkx {
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}

/* Colored boxes */
.colouredbox {
    display: inline-block;
    border-radius: 50px;
    background-color: aquamarine;
    padding: 8px 18px;
}

.editorial {
    background-color: #45ABEA;
    color: white;
}

.q1 {
    background-color: #9C72E4;
    color: white;
}

.recruit {
    background-color: #64C0A9;
    color: white;
}

.mobile {
    background-color: #F29E33;
    color: white;
}

.websitebox {
    background-color: #D863A1;
    color: white;
}

.sales {
    background-color: #B0C926;
    color: white;
}