/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* logo */
h1 {
    display: inline;
}

header img, h1 {
    vertical-align: middle;
}

/* edit interactive buttons */
#interactive-button1 {
    background-color: #47ADF1;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;   
}

#interactive-button2 {
    border: 1px solid grey;
    border-radius: 8px;
    color: #47ADF1;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;   
}